# Dependencies
node_modules/

# Android build outputs
android/.gradle/
android/build/
android/app/build/
android/captures/
android/.idea/
android/local.properties
android/app/release/
*.apk
*.aab

# Logs / OS
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
